<a href="https://colab.research.google.com/github/alvas-education-foundation/Bindushri/blob/master/day2_session2_example_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 #dict.clear()
#Removes all elements of dictionary dict

In [1]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

 #dict.items()
#Returns a list of dict's (key, value) tuple pairs

In [2]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

 # dict.copy()
#Returns a copy of dictionary dict

In [3]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

 #Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [4]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

 #Python Program to Sum All the Items in a Dictionary

In [5]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

#Python Program to Remove the Given Key from a Dictionary

In [1]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):d
Updated dictionary
{'a': 1, 'b': 2, 'c': 3}

 #Python Program to add name and mark as key->value pair in  a Dictionary and print it.

In [2]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records4
Enter name 13
Enter mark 13
{'3': 3}
Enter name 22
Enter mark 25
{'3': 3, '2': 5}
Enter name 35
Enter mark 37
{'3': 3, '2': 5, '5': 7}
Enter name 47
Enter mark 47
{'3': 3, '2': 5, '5': 7, '7': 7}

 #Python Program to count the number of lines in a text file.
 #file program

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#Python Program to count the number of lines in a text file. 
file = '/content/drive/My Drive/doc.txt'
file = '/content/drive/newfile.txt'
num_lines = 0
with open(file, 'r') as f:
 for line in f:
  num_lines += 1
print("Number of lines:")
print(num_lines)