<a href="https://colab.research.google.com/github/alvas-education-foundation/Bindushri/blob/master/day2_session2_exercise_problem_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 #Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records2
Enter name 1thanu
Enter mark 159
Enter name 256
Enter mark 289
input:  {'thanu': 59, '56': 89}
output:  [('56', 89), ('thanu', 59)]

 #Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [2]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter no of records4
Enter name 1shri
Enter salary 14000
Enter name 25
Enter salary 25
Enter name 3thri
Enter salary 33000
Enter name 4reesha
Enter salary 460000
input:  {'shri': 4000.0, '5': 5.0, 'thri': 3000.0, 'reesha': 60000.0}
output:  [('5', 5.0), ('thri', 3000.0), ('shri', 4000.0), ('reesha', 60000.0)]
sum:  67005.0
max:  60000.0
min:  5.0
avg:  16751.25